body{
    background-color: black;
    color: darkgray;
}

nav {
    color: indigo;
    font-size: 25px;
    
}

  
.nav  {
    color: chartreuse;
    font-size: 20px;
    position: relative;
}
.nav :hover {
    color:yellow !important ;
    font-size: 30px;
    transition-duration: 0.3s ease-in-out;
    transform: rotate(180deg) !important;
  }

  /* medium+ screen size */

@media (max-width:750px) {
    .mobile-only {
       display: inline-block !important;
      
    }
    .desktop-only {
          display: none; 
          
    }
   
   
    
    @media  (max-width:750px) {
        .mobile-onlyC {
        color: yellow !important;
        }
    }
}
        

